<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
  <EncryptedData>
   <CipherData>
    <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAdpKtnxELyEiaN2QbO4NECQQAAAACAAAAAAAQZgAAAAEAACAAAACl5L7+r9aDNKPWIE03fVU1AJuNWP2gvFh/RUGDLUU1ywAAAAAOgAAAAAIAACAAAABD2b/+eIOvZjq7W4EyVXlCANyAXXX3RypA1IVrAa7UyOABAAA1pLieUdEb398FGzw2THuSsCnsbYUv9DWbalwyyHAx8X0eIvZx41H91btbus5zHGRFepkOPzjw6oSYYLSbjZlXnlckw8QaQFL1DSky6uOSBxHU0ezE6han5BUxrP0E+5pgaz37EBQ7Q4GuDRrAqbXu1TllYswfvzcJWhUcPRm2cSKRrckCgXwCgNa7X9Ccd2YuFKXQCWUwvttDmBoOXpBeG0J5ZjzZDsjQVi7VAa9Jnlm4OCr13iY9R41Cna1huvLtBbf1s+sUctiNU3GKOTyAYbpZx++ufoTW41DEJDJXt4fNQN6WQfARV5DhVxqdYy0pwlPlTAIWNQiySQYtIvRyaPhudoFczK58uLnXngOZ9TI1w10Gp4O6s5yEGFO8j93kFDWiQ+jGyNS0GLbNgmFnBTXj3J2o6UDkIroeYxaqJXJcacipufFKI82Jd3mM+IpGvp6gpda31fvvVXQG/sQzQXKQcDp8PcZFPV994PKrQitTKoxMsqiUZkgxGhQEhISBhRB3cGTWR08GbB7J9ROJYDZQioNm7fUBxfAbQaAU6MG2gQHQjNvmT76KYkFIDiOPvFGvvV/ihYH4U4ruIHfOcVU82OMGavjCn5AVjYRm8+ZrOsz2/FT1p4Wu+5TZFrZAAAAAbH8ScU/pg+NNFw1vPcfUC+W20f2jStOAhKbP4emzVgzLxcJFw1z4c/j8ZCdUBIad9ysPLnUuvIi5LLGp1GuijQ==</CipherValue>
   </CipherData>
  </EncryptedData>
 </connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>