<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
  <EncryptedData>
   <CipherData>
    <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAdpKtnxELyEiaN2QbO4NECQQAAAACAAAAAAAQZgAAAAEAACAAAADVy/VxmkMhAdEUxGV/K3UC5Kt16DiFElBR/gJ0QnCuhQAAAAAOgAAAAAIAACAAAABxB4J+eTbst+xKYCyzA7b/lv6QnCpKFwNzRIBnqKlBJOABAAAShgvvsTzGJrpPZiiysPFyMC5tspRKRzXt1eYJAs9B79G/qXoGXFSsbG7DMklq61qzSO81NR4D+7ewjI+Egu9AjLuqj0sR9LXo6Fg7UMlJpYowLZTOQAnANXg6WL5eU5pkOKu5niGEs0MBTOJB0ut8VBObbiQAvgM2ym6jo5NsuS/fOUcGSW9QelhrtdOjOCDPpveymC3IVP+y+1vOX47O6dsz3zvW3k0jFmRsLdaY94WSuNdQ47J1UpnCqbZoNkrHbW2jfVH2TjUZ0KrO2wBhvlq9apLyAnsUSVLqi0LH0oz3G7wp8wvmd2QPrkR8ieUsdMC3+ispV9pr6zJmEWuvECW3o04yPD22yd2HatYswLDKryLoXqfAhelk9zw1tuIaFCEFAbuWFpZD2iJ9Fr3FDrw7Kxhf3XQfuK0yTLkBBHkwtkH1CnKFRI9bIRW5gtk1cL2r+J6IpkE1E0sZHgNUyiHvnJMuX3OaJD6MG/U6KZiMEYtBWwDXV7rfjmiFfL3gt/QPfyWPSdyfazyGqBszql8BgAHeTQtzIvHO7C9KHRnGTmgUxFoeAUEeKyWBmbnh+PeMaTyp6/Q+ZIiChszzw83AqNV0rlrkh7SJo2GbS/XpnR7FuCXeYFHFqzfuL4JAAAAAwZxKe1w3WCAtANfgL/DH1qYTp2S5/E4i6r0hNZJcVAf0HTiPofDFtOBUJb0QnBWTiv+bx5HVMu4IIjHMAEHfjw==</CipherValue>
   </CipherData>
  </EncryptedData>
 </connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>