<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
  <EncryptedData>
   <CipherData>
    <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAdpKtnxELyEiaN2QbO4NECQQAAAACAAAAAAAQZgAAAAEAACAAAAAOXGwC8sq3SIT8ZrRX29IWPabCfIMyptmE3i7nykM7OwAAAAAOgAAAAAIAACAAAAClK54+4cpfG8i2s98vXZzvE/9Y4LYYFY/SBEX8/pQwXuABAAAwTuaInbFwH2xbZA5CR73PpAMZb+JIJ+o76KIvxXa+pVTNy0imlqktzsgnzt7c94t+4yvaMhKI8ELhptKW7h0s3VJCS7DsJOJhr5DGQ8NKUyjJCwmAnLVrXaeeshhuzHvzq0ccpAlsy1cfEjH9pm5KWe+EfXGMVmsEQ5KFdOHp1CJpf//PQ2c7dNi4WXw7iiM0nJX3BSnnid9uj/rIPl2qi0edkLdTeW06yz7uzarMus0KH0zbDGJgwmq175GCLwet9hCqPx3YryUYDFlhhRyUigN0Nc9Y3gZfqITO8U+OZT3PfGq/Bz1JOzfiY8z/7PfCoEPwutkD+zLFnqyg2M4OazaGKmHWNG1wTaqGOrfMxqNSxp11JbnDvT0ltg+8wd8kMFfra15Nc1nm2NMykxHiBu0CoiBuUHKo0JUiyFcHHOLEZ+LLw3IYBA1WdlSFX9WHkSlIgmg/rKqU7Nabmyzt3V/7cqqc47RwBvak7JJZgfz1Bt/q+sAqu+dB5tKfCzlw0TP0Qc1DuKCTODr4rS2e46oUmVGvMf8Z4mZM2Dpp4F4bZ4FPrON1ms78VmyZ7mP5r6zhIGXW8L20DwbHQbo51j3gurqu2RVWS16Zai28pXy3VcUmdyhVh15dQqTJadlAAAAAd75sUEE5lK2zEBlO7Qc7Imar8TDVehLdPleH+kq6WtInIhjqur/MaYm2w8ox42MsMQz1hAwFK4iJtvGH5SW8kQ==</CipherValue>
   </CipherData>
  </EncryptedData>
 </connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>